@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald:wght@400;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* A comment */

body{
  font-family: "Noto Sans", Helvetica, sans-serif;
}

header {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1598303080573-b96648937939?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-position: center;
  display: grid;
}

nav{
  background-color: rgb(36, 101, 105);
  position: fixed;
  width: 100%;
  z-index: 2;
  text-align: center;
}

nav a {
  padding: 5px 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #163436;
}

h1{
  place-self: center;
  background-color: #0f1b1c95;
  width: 100%;
  text-align: center;
  padding: 10px 40px;
  color: white;
  font-size: 2.8em;
}

h1, h2, h3{
  font-family: "Oswald", sans-serif;
}

main>div, footer{
  padding: 20px 40px;
}

h2{
  font-size: 2em;
  color: #1c737a;
}

#about img{
  width: 100%;
  display: block;
}

h2, p, #about img, h3, ul, #horses div{
  margin-bottom: 20px;
}

h3{
  font-size: 1.5em;
  color: #1099a3;
}

ul{
  padding-left: 15px;
}

div a{
  color:#cc5c00;
  font-weight: bold;
  text-decoration: none;
}

div a:hover{
  text-decoration: underline;
}

#horses {
  background-color: #d5e0e0;
}

#horses div{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto 20px auto;
}

#horses h3{
  text-align: center;
}
#horses img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

#horses div>p{
  margin-bottom: 5px;
}

#horses span{
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: 1px solid #8a8a8a;
  width: 100%;
}

th {
  background-color: #184545;
  color: white;
}

th, td{
  padding: 5px;
}

tr{
  border-bottom: 1px solid #8a8a8a;
}

tr:nth-of-type(odd){
  background-color:#cedbdb50;
}

td{
  text-align: center;
}

td:nth-of-type(1){
  text-align: left;
}

footer{
  background-color: #267075;
}

footer h3{
  color: white;
}

footer a{
  color: white;
  text-decoration: none;
}

footer {
  color: white;
}

footer a:hover{
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  main>div{
    padding: 40px;
  }
}

@media only screen and (min-width: 750px) {
/*   body{
    background: red;
  } */
  
  h2{
    margin-bottom: 30px;
  }
  #about{
    overflow: hidden;
  }
  
  #about img{
    float:left;
    max-width: 350px;
    margin-right: 25px;
    border-radius: 175px;
    height: 350px;
    object-fit: cover;
    shape-outside: circle();
    margin-bottom: 10px;
  }
  
  #about h3{
    clear: left;
  }
  
  #horses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  
  #horses h2{
    grid-column: 1/3;
  }
  
  #horses div{
    justify-self: center;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 950px) {
/*   body{
    background: red;
  } */
  
  #about p {
    max-width: 800px;
  }
  
   #horses {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
   #horses h2{
    grid-column: 1/4;
  }
}

@media only screen and (min-width: 1000px) {
  main>div, footer{
    padding: 40px 80px;
  }
}
